{% extends "main.html" %}

{% block main_heading %}
	<h1>Danger, Will Robinson!</h1>
{% endblock %}


{% block main_content %}
	<p>
		You seem to have stumbled into a hole in the space-time continuum... 
		or at least, you have asked for a page that does not exist. Perhaps it
		did exist at one time, and yet no longer does. Or perhaps it never 
		existed to begin with. 
	</p>
	<p>
		If you think this is a mistake on our part, please email us and let us 
		know about the anomaly: 
		<a href="mailto:sffrd-admin@library.tamu.edu">sffrd-admin@library.tamu.edu</a>.
	</p>
	<p>
		Perhaps you would like to <a href="/browse/">browse</a> or 
		<a href="/search/">search</a> the database in the meantime?
	</p>		
{% endblock %}