{% extends "main.html" %}

{% block main_heading %}
	<h1>Err-or! Err-or! Ext-er-mi-nate!</h1>
{% endblock %}


{% block main_content %}
	<p>
		As any Doctor knows, if you hear that sound then something has gone 
		seriously wrong. This seems to be the case with our server, too.
	</p>
	<p>
		If you're still alive, we would appreciate a brief message to let us 
		know what steps led you to this disaster. You can reach us at
		<a href="mailto:sffrd-admin@library.tamu.edu">sffrd-admin@library.tamu.edu</a>.
	</p>
{% endblock %}